<div class="wrapper">
  <p>Are you at least 18 years old?</p>
  <button id="yes" (click)="checkAge(true)" title="Yes">Yes</button>
  <button id="no" (click)="checkAge(false)" title="No">No</button>
  <!-- ngIf -->
  <span
    [ngClass]="{
      green: isAllowed,
      red: !isAllowed
    }"
    id="response"
    *ngIf="isAllowed !== null"
  >
    <!-- Check if a button has been clicked -->
    <ng-container *ngIf="isAllowed">
      <!-- Show response if isAllowed is true -->
      You're allowed!
    </ng-container>
    <ng-container *ngIf="!isAllowed">
      <!-- Show response if isAllowed is false -->
      You're not allowed!
    </ng-container>
  </span>
</div>
